SELECT [RELEASE].*,[P-TRACKING-NBR] as "R-TRACKING-NBR", [P-PNL-REL-NBR] as "Inner Layer Num" FROM [PNLREL]
INNER JOIN [RELEASE] ON [PNLREL].[P-JOB-NBR]=[RELEASE].[R-JOB#] AND [PNLREL].[P-REL-NBR]=[RELEASE].[R-RELEASE-NBR] WHERE [P-RELEASE-DATE]>='1/1/2021'
UNION SELECT [RELEASE].*,[R-TRACKING-NBR] as "R-TRACKING-NBR",'' as "Inner Layer Num" FROM [RELEASE] WHERE [R-DUE-DATE]>='1/1/2021'